.firstimg{
    width: 100%;
 }

 .ProfessionalText{
    background-color: white;
    width: 400px;
    border-radius: 37px 37px 0px 0px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -130px;
 }

 .ProfessionalText h1{
    font-family: 'jost';
    font-weight: 600;
 }

 .firstSection{
    display: flex;
    flex-direction: column;
 
    align-items: center;
 }
  
 .professionalimg{
    border-radius: 30px;
    width:85% ;
 }
 
 .name1{
    font-family: "jost";
    font-weight: 600;
    padding-top: 20px;
    font-size: 30px;
    color: #292F36;
    line-height: 20px;
}

 .country{
    padding: 0px;
    margin: 0%;
    color: #65676a;    
    line-height: 10px;
    font-weight: normal;
}

 .apps{ 
    padding-top: 20px;
    margin: auto;
    width: 100px;
 }

 @media only screen and (max-width:1025px){
    .ProfessionalText{
        height: 110px;
        margin-top: -110px;
        width: 370px;
    }
 }

 @media only screen and (max-width:769px){
    .ProfessionalText{
        height: 100px;
        margin-top: -100px;
        width: 350px;
    }
    .name1{
        font-size: 22px;
    }
    .country{
        font-size: 13px;
    }
    .facebook{
        padding: 1px;
    }
    .twitter{
        padding: 1px;
    }
 }

 @media only screen and (max-width:426px){
    .ProfessionalText{
        height: 70px;
        margin-top: -70px;
        width: 280px;
    }
        .name1{
        font-size: 30px;
    }
    .country{
        font-size: 15px;
    }
    .facebook{
        padding: 0px;
    }
    .twitter{
        padding: 0px;
    }
    .Professionals{
        margin-bottom: 20px;
    }
 }

 @media only screen and (max-width:376px){
    .ProfessionalText{
        height: 60px;
        margin-top: -59px;
        width: 250px;
    }

    .ProfessionalText h1{
        font-size: 20px;
    }

    .ProfessionalText h6{
        font-size: 15px;
    }
    .firstimg{
        height: 100px;
    }
 }

